{
    # Email for Let's Encrypt
    email cxg112@student.bham.ac.uk
    # Real CA (switch to staging if needed)
    acme_ca https://acme-v02.api.letsencrypt.org/directory
}

# === Production site ===
MailMerge.bham.team {
    handle_errors {
        respond "This production version of the app will only become available after a tagged commit has been made to the main branch.

A development version of the app should be accessible here: http://MailMerge.dev.bham.team/

Error connecting to production app backend on docker host http://teamproject-prd:8080.

After a tagged commit has deployed, wait 30 seconds and refresh this page.

If still not live, login to the VM via SSH and try to debug using 'docker compose -f ~/team-project/prd.yml up'"
    }
    reverse_proxy http://teamproject-prd:8080
}

# === Development site ===
MailMerge.dev.bham.team {
    handle_errors {
        respond "Error connecting to MailMerge.dev.bham.team development app backend on docker host http://teamproject-dev:8080.

After a commit to the main branch has deployed, wait 30 seconds and refresh this page.

If still not live, login to the VM via SSH and try to debug using 'docker compose -f ~/team-project/dev.yml up'"
    }
    reverse_proxy http://teamproject-dev:8080
}

# === Default landing page (for IP access) ===
141.147.82.172:80 {
    header Content-Type text/html
    respond <<HTML
      <html>
        <h1>Caddy web server is running on 141.147.82.172</h1> <br/>
        <p>
          After getting DNS entries from
          <a href=https://forms.office.com/e/C0kaiRMuDD>https://forms.office.com/e/C0kaiRMuDD</a><br/>
          try:<br/>
          <a href=http://MailMerge.dev.bham.team>http://MailMerge.dev.bham.team</a><br/>
          or<br/>
          <a href=http://MailMerge.bham.team>http://MailMerge.bham.team</a>
        </p>
      </html>
    HTML 200
}


