<nav data-cy="navbar" class="navbar navbar-expand-md bg-white shadow-sm">
  <div class="container-fluid">
    <!-- Logo and Title -->
    <a class="navbar-brand logo d-flex align-items-center" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img me-2"></span>
      <span class="navbar-title text-primary fw-semibold">Mailmerge</span>
    </a>

    <!-- Toggle feature for mobile if needed  -->
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars" class="text-primary"></fa-icon>
    </a>

    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav ms-auto align-items-center">

        <!-- This is the code for the home button-->
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link text-primary" routerLink="/" (click)="collapseNavbar()">
            <fa-icon icon="home" class="me-1"></fa-icon>
            <span>Home</span>
          </a>
        </li>

        <!-- This below is for the account drop down bar - this is the Jhipster template -->
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          @let accountRef = account();
          <a
            class="nav-link dropdown-toggle text-primary d-flex align-items-center"
            ngbDropdownToggle
            href="javascript:void(0);"
            id="account-menu"
            data-cy="accountMenu"
          >
            @if (!accountRef?.imageUrl) {
              <fa-icon icon="user" class="me-1"></fa-icon>
              <span>Account</span>
            } @else {
              <img [src]="accountRef!.imageUrl" class="profile-image rounded-circle me-1" alt="Avatar" />
            }
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            @if (accountRef !== null) {
              <li>
                <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                  <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                  <span>Sign out</span>
                </a>
              </li>
            } @else {
              <li>
                <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                  <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                  <span>Sign in</span>
                </a>
              </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
